// @import '../../index.css';

.user-header-container {
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: NanumSquareB;
  font-size: 16px;
  .header-title {
    width: 190px;
    height: 60px;
  }
}

.full-container{
  padding: 0 24px 90px 24px;
  .search-container{
    width: 100%;
    padding:24px 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-bar{
      width: 100%;
      border-radius: 10px;
      background-color: black;
      padding: 0 16px 0 0;
  
      display: flex;
      color: white;
      .form-control {
        height: 40px;
        width: 100%;  
        border-radius: 10px;
        padding: 2px 20px;
        color: white;
        border: #000000 0.1px solid;
        font-family: NanumSquareR;
        background-color: black;
        //margin-left: 20px;
      }
      .search-button{
        width: 15px;
        height: 15px;
        display: flex;
        align-self: center;
      }
    }
    .add-friend{
      width: 30px;
      height: 25px;
      color: black;
  
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  .user-ant-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  
    .ant-list-user{  
      .ant-list-item {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 2px 0px #00000025;
        padding: 16px;
        margin-bottom: 10px;
  
        .user-list-friend-container {
          background-color: white;
          width: 100%;

          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .list-profile-container {
            display: flex;
            align-items: center;
            .list-friend-profile {
              width: 48px;
              height: 48px;
              border-radius: 24px;
              background-color: black;
            }
            .list-friend-name {
              color: black;
              font-family: NanumSquareB;
              font-size: 14px;

              margin-left: 10px;
            }            
          }
  
          .chat-btn {             
            width: 30px;
            height: 25px;
            color: black;

            display: flex;
            align-items: center;
            justify-content: center;
            .chatbox-icon{
              width: 18px;
              height: 15px;
            }          
          }
        }
      }
    }
  }
}


