.new-message-form {
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 55px;
  background-color: white;
  display: flex;
  box-shadow: -5px 5px 10px #dfdfdf;
  align-items: center;
  .new-message-input-field {
    margin-left: 44px;
    flex-grow: 1;
    font-size: 1rem;
    resize: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 2px 20px;
    color: black;
    //1번후보
    // border: #4a4a4a 0.1px solid;
    // background-color: white;
    //2번후보
    border: none;
    background-color: #fafafa;
    font-family: NanumSquareR;
    &:focus {
      // border-color: #7b61ff;
      outline: none;
      box-shadow: inset 2px 2px 2px 2px #f2f2f2;
    }
  }
  .new-message-submit-btn {
    margin-right: 10px;
    flex-grow: 1;
    border: 0;
    outline: 0;
    background: #7b61ff;
    padding-top: 6px;
    margin-left: 8px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #6648ff;
    }
    .send-icon {
      width: 20px;
      height: 20px;
      color: white;
      align-items: center;
      justify-content: center;
    }
  }
}
