.new-message-form {
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 55px;

  display: flex;
  box-shadow: -5px 5px 10px #dfdfdf;
  align-items: center;
}

.new-message-input-field {
  margin-left: 10px;
  flex-grow: 1;
  font-size: 1rem;
  resize: none;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 2px 20px;
  color: black;
  border: #4a4a4a 0.1px solid;
  font-family: NanumSquareR;
  background-color: white;
}

.chatTest-submit-btn {
  margin-right: 10px;
  flex-grow: 1;
  border: 0;
  outline: 0;
  background: #7b61ff;
  padding-top: 6px;
  margin-left: 8px;
  justify-content: center;

  border-radius: 5px;
  .send-icon {
    width: 20px;
    height: 20px;
    color: white;
    align-items: center;
    justify-content: center;
  }
}

.new-message-input-field,
.send-message-button {
  border-color: #9a9a9a;
}
