@import '../../index.css';

.question-title{
  font-family: NanumSquareEB;
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 10px;
}

.my-question-list-container{
  margin-bottom: 24px;  
  .no-answer{
    color: #898a8d;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(208, 208, 208);
    margin: 15px 0px;
    padding: 20px 24px;
    background-color: white;
  }
}
