// @import '../../index.css';

.chat-header-container {
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-search-box-container {
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  margin-left: 24px;
  margin-right: 24px;
  .form-control {
    height: 30px;
    width: 85vw;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
    text-align: left; /* left, center, right */
    color: white;
    border: #000000 0.1px solid;
    font-family: NanumSquareR;
    background-color: black;
  }
  .search-btn {
    border: 0;
    outline: 0;
    background: transparent;
    .search-icon {
      width: 35px;
      height: 35px;
      color: white;
    }
  }
}

.chat-ant-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 24px;
  flex-direction: column;
  .ant-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .ant-list-item {
    color: gray;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 0px #00000025;
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;

    .list-friend-container {
      // width: 100vw;
      //padding: 24px;
      background-color: white;
      display: flex;
      justify-content: space-between;

      .list-profile-container {
        display: flex;
        .list-friend-profile {
          width: 48px;
          height: 48px;
          border-radius: 24px;
          background-color: black;
          margin-left: 20px;
        }
        .list-chat-content {
          margin-left: 24px;
          display: flex;
          flex-direction: column;

          .list-friend-name {
            //width: 80vw;
            color: black;
            font-family: NanumSquareEB;
            font-size: 16px;
          }
          .list-chat-content {
            color: #353535;
            font-family: NanumSquareR;
            font-size: 14px;
          }
        }
      }
      .chat-date {
        color: #353535;
        font-family: NanumSquareR;
        font-size: 14px;
        margin-right: 24px;
      }
    }
  }
}
