
.myprofile-header-container{
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: NanumSquareB;
  font-size: 16px;
  .header-title{
    width: 190px;
    height: 60px;
  }
}

.my-profile-container{
  width: 100vw;
  height: 200px;
  background-color: black;

  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;

  .my-profile-photo{
    width:100px;
    height:100px;
    border-radius: 62px;
    background-color: #C4C4C4; 
  }

  .my-profile-content{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    .my-name{
      font-family: NanumSquareEB;
      font-size: 18px;
      color: white;
    }
    .my-email{
      font-family: NanumSquareR;
      margin-top: 8px;
      font-size: 12px;
      color: gray;
    }
    .my-post{
      width: 80px;
      height: 30px;
      border-radius: 15px;
      background-color: black;
      border:1px solid white;
      padding:5px;

      font-family: NanumSquareR;
      font-size: 12px;
      color: white;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 20px;
    }
  }
}