
 .profile-card-header-container{
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .header-text{
    font-family: NanumSquareEB;
    font-size: 32px;
  }
  .header-title{
    width: 190px;
    height: 60px;
  }
  .empty{
    width: 47px;
    height: 35px;
  }
}
.back-container{
  background-color: black;
  padding: 20px 20px;
  .back-btn{
    border: 0;
    outline: 0;
    background: transparent;
    
    .back-icon{
      width: 20px;
      height: 20px;
      color: white;
      align-items:center;
      justify-content :center;
    }
  }
}
.profile-container{
  width: 100vw;
  //height: 250px;
  background-color: black;
  padding: 0 0 24px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  
  .friend-profile-photo{
    width:124px;
    height:124px;
    border-radius: 62px;
    background-color: #C4C4C4; 
  }
  .friend-name{
    font-family: NanumSquareEB;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  .subscription-date{
    color: gray;
  }
  
  .btn-container{
    display: flex;
    // flex-direction: column;

    margin-top: 10px;
    .following-btn{     
      height: 30px;
      width: 100px;
      border: solid white;
      border-width: 0.5px;
      background-color: black;
      border-radius: 15px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .following-text{
        font-family: NanumSquareR;
        font-size: 12px;
        color: white;
      }
      .following-icon{
        margin-left: 3px;
        color: white;
      }
    }
    .message-btn{
      height: 30px;
      width: 100px;
      border: solid white;
      border-width: 0.5px;
      background-color: black;
      border-radius: 15px;

      //margin-top: 10px;
      margin-left: 10px;
      
      align-items: center;
      justify-content: center;
      .message-text{
        font-family: NanumSquareR;
        font-size: 12px;
        color: white;
      }
    }

  }
}