@import '../../index.css';

.my-question-card{
  box-shadow: 1px 1px 5px rgb(208, 208, 208);
  background-color: white;
  border-radius: 8px;
  
  padding: 24px;
  margin-top: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  cursor:pointer;
  &:hover {
    background-color: #fafafa;
  }
  .question-line{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: NanumSquareB;
    font-size: 15px;
    .down-icon{
      width: 16px;
      height: 16px;
      .icon{
        width: 16px;
        height: 16px;
      }
    }
  }
  .question-answer-container{
    margin-top: 16px;
    padding-top: 16px;

    border-top: 0.3px #cccccc solid;
    .question-answer{
      margin-bottom: 12px;
      font-family: NanumSquareR;
    }
  }
}