@import '../../index.css';

.question {
  height: 80px;
  width: 40vw;
  box-shadow: 1px 1px 5px rgb(208, 208, 208);
  border-radius: 7px;
  padding: 30px 0;

  .text{
    font-family: NanumSquareR;
    font-size: 14px;
    color: black;
    text-align:center;
  }
}
