

 .chatTest-header-container{
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .back-btn{
    border: 0;
    outline: 0;
    background: transparent;
    align-items:center;
    justify-content :center;   

    .back-icon{
      width: 35px;
      height: 35px;
      color: black;

    }
  }
  .empty{
    width: 47px;
    height: 35px;
  }
}


.chatTest-container {
  //position: relative;
  //margin-left: 24px;
  //margin-right: 24px;
  background-color: pink;
  width: 100vw;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .chatTest-chatbox {
    position: absolute; 
    background-color: palegoldenrod;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    //border-radius: 10px;
    //box-shadow: 5px 5px 15px gray;
    margin-bottom: 300px;    
    .chatTest-top-bar {
      width: 100%;
      height: 60px;
      background-color: black;
      //border-radius: 10px 10px 0 0;
      display: flex;
      align-items:center;
      justify-content:space-between;

      .chatTest-profile{
        display: flex;
        align-items:center;
        .chatTest-profile-photo {
          width: 40px;
          height: 40px;
          background-color: gray;
          border-radius: 50%;
          top: 11px;
          left: 15px;
          margin-left: 30px;
          margin-right: 24px;
        }
              
        .chatTest-counterperson {
          font-family: NanumSquareEB;
          //text-transform: uppercase;
          color: white;
          font-size: 18px;
          letter-spacing: 2px;
          font-weight: 500;
        }
      }

      .chatTest-menu{
        .menu-btn{
          border: 0;
          outline: 0;
          background: transparent;
          margin-right: 24px;
          align-items:center;
          justify-content :center;

          .menu-icon{
            width: 25px;
            height: 25px;
            color: white;

          }
        }        
      }
    } 

    .chatTest-middle{
      //position: absolute;
      background: white;
      width: 100%;
      height: 100%;
      .chatTest-chatting-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background-color: white;
        .chatTest-receiving{
          //position: absolute;
          
          //height: 100%;
          padding: 20px;
          .bubble {
            width: 60%;
            padding: 10px;
            background-color:#c4c4c4;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 0px 10px 10px 10px;

          }  
        }
        .chatTest-sending{
          //position: absolute;
          padding: 20px;
          height: 100%;
          float: right;
          .bubble {
            width: 60%;
            background: #7B61FF;
            float: right;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px 0px 10px 10px;
          }
          .bubble-lower{
            background: #7B61FF;
            float: right;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 10px 0px 10px 10px;
          }
        }
        .chatTest-typing{
         
         margin-bottom: 150px;
          .writing-bubble {
            width: 40px;
            height: 25px;
            border-radius: 10px;
            margin-left: 24px;
            background: #C4C4C4;
            //padding: 5px 110px 5px 10px;
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: space-between;           
            .ellipsis {
              width: 5px;
              height: 5px;
              display: inline-block;
              background: black;
              border-radius: 50%;
              animation: bounce 1.3s linear infinite;
              //margin-right: 5px;
            }

            .one {
              margin-left: 7px;
              animation-delay: 0.6s;
            }
            .two {
              animation-delay: 0.5s;
            }
            .three {
              animation-delay: 0.8s;
              margin-right: 7px;
            }
          }
        }
      }

    }

    .chatTest-bottom-bar{
 
      //position: absolute;
      width: 100%;
      height: 55px;
      box-shadow: -5px 5px 10px #dfdfdf;
      bottom: 0;
      background: white;
      position: fixed;
      bottom: 80px;
      align-items: center;       
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      // .chatTest-chat{

      //   display: flex;
      //   flex-direction: row;
      //   //align-items: center; 
      //   justify-content: space-between;

      .chatTest-input-box {

        padding: 7px;
        width: 80%;
        border: 0;
        background-color: black;
        margin-left: 24px;
        border-radius: 15px;
      }

      .chatTest-submit-btn{
        
        border: 0;
        outline: 0;
        background: #7B61FF;
        padding-top: 6px;
        justify-content: center;   
        margin-right: 24px;
        margin-left: 10px;
        border-radius: 5px;
        .send-icon{
          width: 20px;
          height: 20px;
          color: white;
          align-items: center;
          justify-content: center;  
        }
      }
    }
    // }

  }

}
