.chat-room-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.chat-room-top-bar {
  display: flex;
  align-items: center;
}

.chat-room-top-bar h1 {
  flex: 1;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border-radius: 7px 7px 0 0;
  margin-bottom: 8px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

/* -------------------------- */
.chatRoom-header-container {
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .empty {
    width: 47px;
    height: 35px;
  }
}

.chatRoom-container {
  background-color: pink;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .chatRoom-chatbox {
    position: absolute;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 135px;
    margin-bottom: 300px;
    .chatRoom-top-bar {
      width: 100%;
      height: 60px;
      background-color: black;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 0;

      padding: 0 10px;

      .back-btn {
        border: 0;
        outline: 0;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        .back-icon {
          width: 20px;
          height: 20px;
          color: white;
          cursor: pointer;
        }
      }
      .chatRoom-profile {
        display: flex;
        align-items: center;

        margin-left: 10px;
        .chatRoom-profile-photo {
          width: 36px;
          height: 36px;
          background-color: gray;
          border-radius: 50%;
        }

        .chatRoom-counterperson {
          font-family: NanumSquareB;
          margin-left: 10px;
          color: white;
          font-size: 16px;
        }
      }

      .chatRoom-menu {
        .menu-btn {
          border: 0;
          outline: 0;
          background: transparent;
          margin-right: 24px;
          align-items: center;
          justify-content: center;

          .menu-icon {
            width: 25px;
            height: 25px;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
    .chatRoom-middle {
      //position: absolute;
      background: white;
      width: 100%;
      height: 100%;

      margin-top: 60px;
      .chatRoom-chatting-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background-color: white;
        padding: 0px;
        list-style-type: none;
      }
    }
  }
}
