
.signup-header-container{
  width: 100vw;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-text{
    font-family: NanumSquareEB;
    font-size: 32px;
  }
  .header-title{
    width: 190px;
    height: 60px;
  }
}

.signup-container{
  height: 100vh; 
  padding:60px 45px 45px 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: black;
  

  .signup-greeting-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
  
    margin-bottom: 20px;
    .greeting-text-first{
      font-size: 24px;
      font-family: NanumSquareB;
      color: white;
      margin-bottom: 10px;
    }
    .greeting-text-second{
      font-size: 12px;
      font-family: NanumSquareB;
      color: white;
      margin-bottom: 10px;
    }
  }
  .signup-profile-photo{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    background-color: #cecece;
    margin: 20px 0px;
  }
  .form-title{
    color: white;

    margin-top: 30px;
  }
  .signup-form-container{
    width: 100%;
    // .avatar-uploader > .ant-upload {
    //   width: 128px;
    //   height: 128px;
    // }
    .ant-upload-picture-card-wrapper {
      display: flex;
      justify-content: center;
      .ant-upload.ant-upload-select-picture-card{
        border:1px rgb(108, 108, 108) dashed;
        background-color: #ffffff20;

        width:104px;
        height:104px;
        border-radius: 52px;
        margin:0px;

        color: white;
        img{
          width:104px;
          height:104px;
          border-radius: 52px;
        }
      }
    }
    .ant-form-item-required{
      //background-color: olive;
      color: white;
    }
    .join-and-login{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 100px;
      .ant-row{
        margin-bottom: 0;
        .ant-btn{
          background-color: #7B61FF;
          border: 0;
          margin-right: 10px;
        }
      }
      .link-to-login{
        color: #7B61FF;
      }
    }
  }
}
