.post-write-header-container {
    width: 100vw;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e7e7e7;

    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  
    font-family: NanumSquareB;
    font-size: 16px;
    .back{
      width:20px;
      height:20px;

      margin-right: 28px;

      cursor: pointer;
    }
    .submit-button{
      
      background-color: black;
      border-radius: 5px;

      color:white;
      font-family: NanumSquareR;
      font-size: 13px;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
    .ant-form-item{
      margin-bottom: 0;
      .ant-btn-primary {
        border-radius: 5px;
        
        color: #fff;
        font-family: NanumSquareR;
        font-size: 13px;

        border-color: black;
        background: black;
        text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      }
    }
  }

.post-write-container{
  padding:24px;

  display: flex;
  .profile-photo{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: gray;

    margin-right: 10px;
  }
  .ant-row {
    margin-bottom: 10px;
    .ant-picker{
      border: white;
      border-bottom: 2px #EFBA46 solid;

      font-family: NanumSquareB;
    }
  }
  .price-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .ant-row {
      margin-bottom: 0;
      margin-left: 10px;
      .ant-input-number{
        border:white;  
        border-bottom:2px #c4c4c4 solid;

        font-family: NanumSquareB;
        color: black
      }
    }
  }
  .product-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .ant-row {
      margin-bottom: 0;
      margin-left: 10px;
      .ant-input{
        border:white;  
        border-bottom: 2px #3746EA solid;

        font-family: NanumSquareB;
      }
    }
  }

  .flex-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .ant-row {
      margin-bottom: 0;
      margin-left: 10px;
      
      .ant-select-selector{      
        border:white;  
        border-bottom: 2px #EA706B solid;

        font-family: NanumSquareB;  
      }  
      
    }
  }

  .detail-container{
    padding-top: 16px;
    width: 100%;
    .ant-input{
      border:white;
      padding:0
    }
  }
}
  