@import '../../index.css';

.question-container{
  height:260px;
  width: 100vw;
  background-color: black;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding:24px;
  .greeting-text{
    font-family: NanumSquareB;
    color: white;
    font-size: 18px;
  }
  .question-text{
    font-family: NanumSquareR;
    color: white;
    font-size: 18px;
  }
}

.card-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  .card-scroll{
    padding: 0 24px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    // .card:last-child{
    //   margin-right: 0;
    // }    
  }  
}